/* Sass variables */
$body: rgb(203, 235, 246);
$h3Texts: rgb(8, 107, 8);
$paragrafs: purple;
$borders: white;

body {
  background: $body;
  font-size: 30px;
}

div {
  h3 {
    text-align: center;
    color: $h3Texts;
  }

  p {
    border: 3px groove $borders;
    padding: 15px;
    color: $paragrafs;
  }
}
