/* Sass variables */
$body: rgb(214, 238, 246);
$h3Texts: rgb(8, 107, 8);
$paragrafs: purple;
$buttons: rgb(54, 61, 255);
$borders: white;
$bordertickness: 2px;

/* Sass codes */
body {
  background: $body;
  font-size: 30px;
}

/* Sass function */
@mixin firstFunction {
  background: lightgray;
  border: $bordertickness * 2 solid;
  border-radius: 10px;
  padding: 5px 0 10px 0;
}

/* Using Sass function */
.header {
  @include firstFunction();
}

/* Aligns every text inside all childs of ".body" to center */
.body {
  text-align: center;

  h5 {
    text-align: center;
    color: $h3Texts;
  }

  p {
    border: 3px groove $borders;
    padding: 15px;
    color: $paragrafs;
  }

  button {
    @include firstFunction();
    width: 100px;
    &:hover {
      background-color: red;
      transition: 0.3s;
    }
  }
}
