/* using _partial */

@use "partial";

/* Variables */

$font-size: 30px;
$font-color: green;

/* Sass codes */

body {
  /* Styling body */
  padding: 20px;
  background: lightblue;
  /* Styling h2 */
  h2 {
    color: $font-color;
  }
  /* Styling p */
  p {
    width: 25%;
    padding:10px;
    border: 1px solid;
    color: $font-color;
    background: yellow;
    font-size: $font-size;
  }
}
