@use "partial";

/* Sass variables */
$borders: white;
$bordertickness: 2px;
$paragrafs: purple;
$h3Texts: rgb(8, 107, 8);
$body: rgb(214, 238, 246);
$buttons: rgb(54, 61, 255);

/* Sass codes */
body {
  font-size: 30px;
  background: $body;
}

/* Sass function */
@mixin firstFunction {
  border-radius: 10px;
  padding: 5px 0 10px 0;
  background: lightgray;
  border: $bordertickness * 2 solid;
}

/* Using Sass function */
.header {
  @include firstFunction();
}

/* Aligns every text inside all childs of ".body" to center */
.body {
  text-align: center;

  h5 {
    color: $h3Texts;
    text-align: center;
  }

  p {
    padding: 15px;
    color: $paragrafs;
    border: 3px groove $borders;
  }

  button {
    @include firstFunction();
    width: 100px;
    &:hover {
      transition: 0.3s;
      background-color: red;
    }
  }
}
