/* Variables */
$primaryColor: #ce5ef4;
$warningColor: #f9be40;
$successHeader: #09d37b;
$paragraphColor: #656565;

/* Header Colors */
h2 .bg-primary {
  background: $primaryHeader;
}

h2 .bg-warning {
  background: $warningHeader;
}

h2 .bg-success {
  background: $successHeader;
}

/* Button Colors */
button .btn-primary {
  color: $primarybutton;
}

button .btn-warning {
  color: $warningButton;
}

button .btn-success {
  color: $successButton;
}

/* Paragraph Text Color */
p {
  color: $paragraphColor;
}