// My Custom Variables
$danger: #ff5656;
$primary: #d400ff;
$warning: #eeae00;
$success: #09d37b;
$secondary: #4c4b4b;

// Import Bootstrap
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/bootstrap";

// Sass Function
@mixin buttonsCenter {
  margin: 0 auto;
  text-align: center;
}

div.button {
  @include buttonsCenter();
}

// Header Colors
h2.bg-primary {
  background: $primary;
}

h2.bg-warning {
  background: $warning;
}

h2.bg-success {
  background: $success;
}

// Button Colors
button.btn-primary {
  background: $primary;
  &:hover {
    color:#913fac;
  }
}

button.btn-warning {
  background: $warning;
  &:hover {
    color:#bd902e;
  }
}

button.btn-success {
  background: $success;
  &:hover {
    color:#039254;
  }
}

// Paragraph Text Color
p {
  color: $secondary;
}

// Sass Operators
div.alert {
  cursor: pointer;
  width: 100% / 2;
  /* width: 100% - 20%; */
}