/* Sass Variables */
$primaryHeader: #ce5ef4;
$primarybutton: #ce5ef4;

$warningHeader: #f9be40;
$warningButton: #f9be40;

$successHeader: #09d37b;
$successButton: #09d37b;

/* Header Colors */
h2 .bg-primary {
  background: $primaryHeader;
}

h2 .bg-warning {
  background: $warningHeader;
}

h2 .bg-success {
  background: $successHeader;
}

/* Button Colors */
button .btn-primary {
  background: $primarybutton;
}

button .btn-warning {
  background: $warningButton;
}

button .btn-success {
  background: $successButton;
}