/* h4 styles */
h4 {
  width: 50%;
  padding: 15px;
  color: blue;
  background: gray;
  border: 4px groove;
}

/* using _partial */
/* Variables */
/* Sass codes */
body {
  /* Styling body */
  padding: 20px;
  background: lightblue;
  /* Styling h2 */
  /* Styling p */
}
body h2 {
  color: green;
}
body p {
  width: 25%;
  color: green;
  padding: 10px;
  font-size: 30px;
  border: 1px solid;
  background: yellow;
}